/*################## Arborescence ##################*/
html, body {
    margin: 0;
    padding: 0;
    font-size : 95%; 
	background: url(Images/Fond.png) #ffffff repeat-x;
}
table.chap { 
	margin-left: 20px; 
	margin-top: 10px; 
}
#arborescence {
	padding: 5px;
}
#arborescence ul#racine {
	margin: 0px;
	padding: 0px;
	/* margin-left: -20px; */
}
#arborescence ul, #arborescence li {
	text-align: left;
	list-style-type: none;
	list-style-image: none;
}
#arborescence li {
	position: relative;
	margin: 0;
	padding: 0;
	/* margin-left: -10px; */
}
#arborescence ul.niv1 ul {
	background: url("images/arbo_line.gif") repeat-y 0px 0px;
	/* display: none; */
}
#arborescence li ul.active {
	display: block;
}
#arborescence li ul.last {
	background: none;
}
#arborescence img {
	position: relative;
	width: 19px;
	height: 20px;
	margin: 0;
	margin-bottom: -4px;
	margin-right: 2px;
	padding: 0px;
	display: inline;
	border: none;
}
#arborescence img.clic {
	cursor: pointer;
}
#arborescence a {
	/*color: #000;*/
	/*text-decoration: none; //underline;*/
	/*border: none;*/
}